body {
  background-color: rgb(242, 242, 242);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.resultsContainer {
  font-size: 20px;
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.06),
    0 16px 48px rgba(0, 0, 0, 0.10);
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px
}

.inputSide {
  width: 200px;
  height: 50px;
  border: solid lightgray;
  margin-right: 10px;
  font-size: 20px;
}

.imageSide{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}